footer{
    background-color: rgb(134, 134, 218);
    .divFooter{
        padding:5%;
        .hoverIcones:hover{
            background-color: rgb(199, 199, 207);
            width:30px;
            height:30px;
        }
    }
}