section{
    .aboutMe{
        margin: 0 auto;
        iframe{
            height:550px;
        }
        .card-body {
            h4{
                color: rgb(134, 134, 218);
            }
        }
        .progress-bar{
            background-color: rgb(134, 134, 218);
        }
        .w-95{
            width: 95%;
        }
        .w-88{
            width: 88%;
        }
        .w-82{
            width: 82%;
        }
        .btn{
            border-radius: 30px;
            background-color: rgba(134, 134, 218, 0.63);
        }
        .btn:hover{
            background-color: rgb(134, 134, 218);
        }
        
    }
}