section{
    .underline {
        background-image: linear-gradient(120deg, rgb(195, 195, 214) 0%, rgb(125, 125, 231) 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: 0 88%;
        transition: background-size 0.25s ease-in;
    }
    .aboutMe{
        margin: 0 auto;
        iframe{
            height:550px;
        }
        .card-body {
            h4{
                color: $primary;
            }
        }
        .progress-bar{
            background-color: $primary;
        }
        .w-95{
            width: 95%;
        }
        .w-88{
            width: 88%;
        }
        .w-82{
            width: 82%;
        }
        .btn{
            border-radius: 30px;
            background-color: $primary;
        }
        .btn:hover{
            background-color: rgba(134, 134, 218, 0.63);
        }
        
    }
}