.btnFiltres{
    
    #btnAll,#btnIllustrator,#btnPhotoshop{
        border-radius: 30px;
        background-color: rgb(134, 134, 218);
        &:hover{
            background-color: rgba(134, 134, 218, 0.63);
        }
    }
}

