//Variables
$primary: rgb(134, 134, 218);
$secondary: rgba(134, 134, 218, 0.63);
$tertiary: white;
$quartenary: grey;

//Imports
@import './header';
@import './section1.scss';
@import './section2.scss';
@import './section3.scss';
@import './section4.scss';
@import './section5.scss';
@import './footer.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
